{{#if siteSettings.enable_category_experts}}
  <h3>{{i18n "category_experts.title"}}</h3>
  <section class="field">
    <label class="checkbox-label">
      {{i18n "category_experts.group"}}
    </label>
    <div class="controls">
      <GroupChooser
        @content={{allGroups}}
        @value={{groupIds}}
        @labelProperty="name"
        @onChange={{action "onChangeGroupIds"}}
      />
    </div>
  </section>

  {{#if siteSettings.tagging_enabled}}
    <section class="field category-experts-auto-tagging">
      <label class="checkbox-label">
        {{i18n "category_experts.auto_tagging.title"}}
      </label>
      <div class="controls">
        <TagChooser
          @tags={{category.custom_fields.category_expert_auto_tag}}
          @categoryId={{category.id}}
          @options={{hash limit=1}}
          @onChange={{action
            (mut category.custom_fields.category_expert_auto_tag)
          }}
        />
      </div>
      <div class="instructions">
        {{i18n "category_experts.auto_tagging.description"}}
      </div>
    </section>
  {{/if}}

  {{#if badgeOptions}}
    <section class="field">
      <label class="checkbox-label">
        {{i18n "category_experts.badge"}}
      </label>
      <div class="controls">
        <ComboBox
          @value={{category.custom_fields.category_experts_badge_id}}
          @content={{badgeOptions}}
          @nameProperty="name"
          @onChange={{action
            (mut category.custom_fields.category_experts_badge_id)
          }}
          @options={{hash none="category_experts.no_badge"}}
        />
      </div>
    </section>
  {{/if}}

  {{#if category.custom_fields.category_expert_group_ids}}
    <section class="field">
      <label class="checkbox-label">
        <Input
          @type="checkbox"
          @checked={{readonly
            category.custom_fields.category_accepting_endorsements
          }}
          {{on
            "change"
            (action
              "onChangeAcceptingExpertEndorsements" value="target.checked"
            )
          }}
        />
        {{i18n "category_experts.accepting_endorsements"}}
      </label>
    </section>

    <section class="field">
      <label class="checkbox-label">
        <Input
          @type="checkbox"
          @checked={{readonly
            category.custom_fields.category_accepting_questions
          }}
          {{on
            "change"
            (action "onChangeAcceptingExpertQuestions" value="target.checked")
          }}
        />
        {{i18n "category_experts.accepting_questions"}}
      </label>
    </section>
  {{/if}}
{{/if}}