{{#if siteSettings.enable_category_experts}}
  <h3>{{i18n 'category_experts.title'}}</h3>
  <section class='field'>
    <label class="checkbox-label">
      {{i18n 'category_experts.group'}}
    </label>
    <div class="controls">
      {{combo-box
        content=groupOptions
        none="category_experts.no_group"
        value=category.custom_fields.category_expert_group_id
        onChange=(action "onChangeGroupId")
        }}
    </div>
  </section>

  <section class='field'>
    <label class="checkbox-label">
      {{input
        type="checkbox"
        checked=(readonly category.custom_fields.accepting_expert_endorsements)
        change=(action "onChangeAcceptingExpertEndorsements" value="target.checked")
        disabled=noGroupSelected
      }}
      {{i18n 'category_experts.accepting_endorsements'}}
    </label>
  </section>
{{/if}}
