<DModalBody>
  <h3>{{i18n
      "category_experts.manage_endorsements.subtitle"
      username=user.username
    }}</h3>

  {{#if loading}}
    <LoadingSpinner @size="large" />
  {{else}}
    {{#if showingSuccess}}
      <div class="endorsement-successful">
        {{d-icon "check"}}
      </div>
    {{else}}
      {{#each categories as |category|}}
        <label class="category-experts-endorsement-row">
          <input
            type="checkbox"
            name="category"
            class="category-endorsement-checkbox"
            value={{category.id}}
            id="category-endorsement-{{category.id}}"
            {{action "checkboxChanged" category.id}}
          />
          {{category.name}}
        </label>
      {{/each}}
    {{/if}}
  {{/if}}
</DModalBody>

<div class="modal-footer">
  {{#unless loading}}
    {{#if outOfEndorsements}}
      <div class="alert alert-danger out-of-endorsements-alert">
        {{i18n "category_experts.out_of_endorsements"}}
      </div>
    {{else}}
      <DButton
        class="btn-primary category-endorsement-save"
        @action={{action "save"}}
        @disabled={{saveDisabled}}
        @label="category_experts.endorse"
      />
      {{#unless currentUser.staff}}
        <div class="remaining-endorsements-notice">
          {{i18n
            "category_experts.remaining_endorsements"
            count=remainingEndorsements
          }}
        </div>
      {{/unless}}
    {{/if}}
  {{/unless}}
</div>