<div class="control-group">
  <label class="control-label">{{i18n "category_experts.title"}}</label>
  <div class="controls">
    <section class='field'>
      <label>
        {{radio-button
          id="with-category-expert-response"
          name="category-experts-search"
          value="with-category-expert-response"
          selection=searchedTerms.categoryExpertsTerm
          click=(action "onChangeCheckBox" "withCategoryExpertResponse" "_updateWithCategoryExpertResponse")
        }}

        {{i18n "category_experts.search.expert_response"}}
      </label>
    </section>
    <section class='field'>
      <label>
        {{radio-button
          id="with-category-expert-response"
          name="category-experts-search"
          value="is-category-expert-question"
          selection=searchedTerms.categoryExpertsTerm
          click=(action "onChangeCheckBox" "isCategoryExpertQuestion" "_updateIsCategoryExpertQuestion")
        }}
        {{i18n "category_experts.search.question"}}
      </label>
    </section>
  </div>
</div>
