<div class="control-group">
  <label class="control-label">{{i18n "category_experts.title"}}</label>
  <div class="controls">
    <section class='field'>
      <label>
        {{input
          type="checkbox"
          class="with-category-expert-response"
          checked=(readonly searchedTerms.withCategoryExpertResponse)
          click=(action "onChangeCheckBox" "withCategoryExpertResponse" "updateWithCategoryExpertResponse")
        }}
        {{i18n "category_experts.search.expert_response"}}
      </label>
    </section>
    {{#if canSeeIsQuestionFilter}}
      <section class='field'>
        <label>
          {{input
            type="checkbox"
            class="is-category-expert-question"
            checked=(readonly searchedTerms.isCategoryExpertQuestion)
            click=(action "onChangeCheckBox" "isCategoryExpertQuestion" "updateIsCategoryExpertQuestion")
          }}
          {{i18n "category_experts.search.question"}}
        </label>
      </section>
    {{/if}}
    {{#if currentUser.staff}}
      <section class='field'>
        <label>
          {{input
            type="checkbox"
            class="with-unapproved-post"
            checked=(readonly searchedTerms.withUnapprovedPost)
            click=(action "onChangeCheckBox" "withUnapprovedPost" "updateWithUnapprovedPost")
          }}
          {{i18n "category_experts.search.unapproved_post"}}
        </label>
      </section>
    {{/if}}
  </div>
</div>
