<DModal
  @title={{i18n "category_experts.manage_endorsements.title"}}
  @closeModal={{@closeModal}}
  class="endorse-user-modal"
>
  <:body>
    <h3>{{i18n
        "category_experts.manage_endorsements.subtitle"
        username=this.user.username
      }}</h3>

    {{#if this.loading}}
      {{loading-spinner size="large"}}
    {{else}}
      {{#if this.showingSuccess}}
        <div class="endorsement-successful">
          {{d-icon "check"}}
        </div>
      {{else}}
        {{#each this.categories as |category|}}
          <label class="category-experts-endorsement-row">
            <Input
              @type="checkbox"
              @checked={{this.isChecked category.id}}
              {{on "change" (fn this.checkboxChanged category.id)}}
              disabled={{this.isDisabled category.id}}
              name="category"
              class="category-endorsement-checkbox"
              id="category-endorsement-{{category.id}}"
            />
            {{category.name}}
          </label>
        {{/each}}
      {{/if}}
    {{/if}}
  </:body>
  <:footer>
    {{#unless this.loading}}
      {{#if this.outOfEndorsements}}
        <div class="alert alert-danger out-of-endorsements-alert">
          {{i18n "category_experts.out_of_endorsements"}}
        </div>
      {{else}}
        <DButton
          class="btn-primary category-endorsement-save"
          @action={{action "save"}}
          @disabled={{this.saveDisabled}}
          @label="category_experts.endorse"
        />
        {{#unless this.currentUser.staff}}
          <div class="remaining-endorsements-notice">
            {{i18n
              "category_experts.remaining_endorsements"
              count=this.remainingEndorsements
            }}
          </div>
        {{/unless}}
      {{/if}}
    {{/unless}}
  </:footer>
</DModal>